[project]
	description = A repository for my project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AmnahRazzaki
[access "refs/for/refs/*"]
	read = group user/AmnahRazzaki
	push = group user/AmnahRazzaki
	label-Code-Review = -2..+2 group user/AmnahRazzaki
	label-Verified = -1..+1 group user/AmnahRazzaki
	rebase = group user/AmnahRazzaki
	removeReviewer = group user/AmnahRazzaki
	submit = group user/AmnahRazzaki
[access "refs/heads/*"]
	read = group user/AmnahRazzaki
	create = group user/AmnahRazzaki
	push = +force group user/AmnahRazzaki
	pushMerge = group user/AmnahRazzaki
[access "refs/tags/*"]
	push = +force group user/AmnahRazzaki
	createTag = group user/AmnahRazzaki
	createSignedTag = group user/AmnahRazzaki
